@import "tailwindcss";
@font-face {
  font-family: "albert";
  src: url("./assets/font/albert.ttf");
}

@font-face {
  font-family: "overlock";
  src: url("./assets/font/Overlock-Regular.ttf");
}
@custom-variant dark (&:where(.dark, .dark *));
